@tailwind base;
@tailwind components;
@tailwind utilities;

.btm-nav > *:where(.active) {
    border: none;
    color: red;
}

.btm-nav > *:where(.active) > img {
    filter: invert(31%) sepia(85%) saturate(7456%) hue-rotate(354deg) brightness(100%) contrast(128%);
}